<div class="registration-modal">
  <div class="modal-header">
    <h2>Register</h2>
    <button class="close-btn" (click)="closeModal()">&times;</button>
  </div>
  <form [formGroup]="registrationform" (ngSubmit)="onSubmit()" class="registrationform">
    <div class="form-left">
      <div class="img-container">
        <img [src]="previewImage" alt="Uploaded Image" class="image-size" *ngIf="previewImage; else placeholder"><br>
        <ng-template #placeholder>
          <img src="https://placehold.co/310x325" alt="Placeholder Image" class="image-size">
        </ng-template>
        <input type="file" id="fileInput" (change)="onFileChange($event)" accept="image/*" style="display: none;">
        <a href="#" (click)="triggerFileInput($event)">Upload Your Photo</a><br>
        <div *ngIf="imageError" style="color: red;">{{imageError}}</div>
      </div>

    </div>
    <div class="form-right">
      <div class="form-group">
        <input type="text" formControlName="firstname" placeholder="First Name" class="input-field" /><br>
        <br>
        <input type="text" formControlName="lastname" placeholder="Last Name" class="input-field" /><br>

      </div>
      <span *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" style="color: red;">
        <div *ngIf="firstname?.errors?.['required']">please enter the first name</div>
        <div *ngIf="firstname?.errors?.['pattern']">Character only allowed</div>
      </span>
      <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" style="color: red;">
        <div *ngIf="lastname?.errors?.['required']">please enter the last name</div>
        <div *ngIf="lastname?.errors?.['pattern']">Character only allowed</div>
      </div>

      <div class="form-group">
        <input type="email" formControlName="email" placeholder="Email" class="input-field" (blur)="emailblur()"/>

      </div>
      <div *ngIf="email?.invalid && email?.touched" style="color: red;">
        <span *ngIf="email?.errors?.['required']">Email ID is required.</span>
        <span *ngIf="email?.errors?.['email']">Email must be in the below format.
          <div style="color: gray;">Example: abc&#64;gmail.com</div>
        </span>
      </div>

      <div class="form-group">
        <input type="text" formControlName="phone" placeholder="(541) 754-3010" class="input-field" maxlength="10" />
      </div>
      <div *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)" class="error" style="color: red;">
        <div *ngIf="phone?.errors?.['required']">Please enter a valid Phone number</div>
        <div *ngIf="phone?.errors?.['pattern']">only Numbers are allowed</div>
      </div>

      <div class="form-group">
        <label for="age">Age</label><br>
        <input type="range" formControlName="age" id="age" name="age" min="20" max="60" />
        <div>
          <!-- <span>20</span> -->

          <!-- <span>60</span> -->
        </div>

        <br>
        <span>{{ registrationform.get('age')?.value }}</span>


      </div>
      <div class="form-group">
        <select formControlName="state" class="input-field">
          <option value="" disabled selected>Select Your State</option>
          <option value="Maharastra">Maharastra</option>
          <option value="Goa">Goa</option>
          <option value="Kerala">Kerala</option>
          <option value="Gujrat">Gujrat</option>
        </select>
      </div>

      <div class="form-group">
        <select formControlName="country" class="input-field"  name="select">
          <option value="" disabled>Select Your Country</option>
          <option value="India">India</option>
          <option value="America">America</option>
          <option value="Germany">Germany</option>
          <option value="Italy">Italy</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" formControlName="address" placeholder="Address" class="input-field" />
      </div>
      <div class="form-group-tags-container">
        <input type="text" #tagInput placeholder="tags" class="input-field" (keydown)="onEnterTag($event,tagInput)" />
        <div class="tags">
          <span *ngFor="let tag of tagsArray.controls; let i = index" class="tag bg-dark text-light mx-1">
            {{ tag.value }}&nbsp;
            <span class="remove-tag bg-dark text-light" (click)="removeTag(i)">&times;</span>
          </span>
        </div>
      </div>
      <div class="form-group-checkbox">
        <input type="checkbox" formControlName="subscribe" id="newsletter"/>
        subscribe to newsletter
      </div>

      <div class="form-group-buttons">
        <button type="button" class="btn btn-outline-secondary">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="registrationform.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>