<footer>
    <section class="below-section">
        <h4 class="below-head">Subcribe to our Job Seeker Mailing List</h4>
        <input type="email" placeholder="Enter Your Email Address" />
    </section>
    <div class="horizontal-bar">
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
    </div>
    <section class="bottom-section">
        <img src="" alt="" />
        <p>Copright 2014 Two Bytes Consulting. <strong>Terms & policies</strong></p>
    </section>
</footer>
